img {
    width: 130px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.container-cartas{
    background-image: url('./public/mesa.jpg'); 
    height: 800px;
    width: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.div-cartas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.bttn-card{
    margin-top: 470px;
}